<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC
    "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
 
<beans>   
    <!-- Define the default handler adapter in Spring MVC -->
    <!-- Enables plain Controllers -->
    <bean
        class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />
 
    <!--
        Its important to declare this since spring MVC will not look for it if
        you have already defined the FlowHandlerMapping
    -->
    <bean
        class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
        <property name="order" value="0" />
    </bean>
 
    <bean name="/helloWorld" class="edu.masterjava.spring.tarea03.HelloWorldController"/>  
 
    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
 
    <!-- We import the flow-config.xml located in the same directory -->
    <import resource="flow-config.xml"/>
    <!-- Importing allows us to keep this configuration file simple. -->
 
</beans>